@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* =========Variables======== */
:root {
  font-size: 18px;
  --mobile-breakpoint: 376px;
  --primary-font: "Josefin Sans", sans-serif;
  --medium-font-weight: 400;
  --bold-font-weight: 700;
  --todo-list-border-radius: .33rem;
  /* Primary Colors */
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme Colors */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --light-very-dark-grayish-blue: hsl(235, 19%, 35%);
  /* Dark Theme Colors */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-one: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-two: hsl(237, 14%, 26%);
}

body[data-theme='light'] {
  --txt-color-primary: var(--very-dark-grayish-blue-two);
  --bg-color-primary: white;
  --bg-color-secondary: white;
  --bg-color-tertiary: var(--light-grayish-blue);
  --box-shadow-color: var(--very-light-grayish-blue);
  --bg-top-img-mobile: url(./images/bg-mobile-light.jpg);
  --bg-top-img-desktop: url(./images/bg-desktop-light.jpg);
}

body[data-theme='dark'] {
  --txt-color-primary: var(--light-grayish-blue);
  --bg-color-primary: var(--very-dark-blue);
  --bg-color-secondary: var(--very-dark-grayish-blue-two);
  --bg-color-tertiary: var(--light-very-dark-grayish-blue);
  --box-shadow-color: black;
  --bg-top-img-mobile: url(./images/bg-mobile-dark.jpg);
  --bg-top-img-desktop: url(./images/bg-desktop-dark.jpg);
}

/* =========Typography======== */
body {
  font-family: var(--primary-font);
  color: var(--txt-color-primary);
  transition: background-image 300ms, background-color 300ms, box-shadow 300ms;
}

h1 {
  letter-spacing: .4em;
  color: var(--very-light-gray);
}

/* =========Elements======== */
*::before,
* {
  transition: inherit;
}

p,
h1 {
  margin: 0;
}

input,
button {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  padding: 0;
}

*[role="button"],
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* =========Layout======== */
.todos-app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15rem 1fr;
}

.bg-top {
  background-image: var(--bg-top-img-mobile);
  background-size: cover;
  background-position: center;
  background-color: var(--bg-color-primary);
}

.bg-bottom {
  background-color: var(--bg-color-primary);
  z-index: -2;
}

/* =========Components======== */
.todos-container {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: min(35rem, 87%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todos-container > * {
  border-radius: var(--todo-list-border-radius);
}

.todos-container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0;
}

.todos-container__todo-input-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--bg-color-secondary);
  padding: 1em;
}

.todos-container__todo-input {
  border: none;
  width: 100%;
  background-color: inherit;
}

.todos-container__todo-input:focus {
  outline: none;
}

.todos-container__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  border: 1px solid var(--bg-color-tertiary);
  margin-right: 1em;
}

.todos-container__checkbox--complete {
  background-image: linear-gradient(-45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todos-container__delete-btn {
  cursor: pointer;
}

.todos-container__todo-list {
  position: relative;
  background-color: var(--bg-color-secondary);
}

.todos-container__todo-list>li+li {
  border-top: 1px solid var(--bg-color-tertiary);
}

.todos-container__todo-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1em;
}

.todos-container__status-tray {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: var(--dark-grayish-blue);
}

.todos-container__filters {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  font-weight: bold;
  background-color: var(--bg-color-secondary);
  color: var(--dark-grayish-blue);
}

/* this ::before element is for -z box-shadow */
.todos-container__todo-list::before,
.todos-container__filters::before {
  content: "";
  position: absolute;
  border-radius: var(--todo-list-border-radius);
  inset: 0;
  z-index: -1;
  box-shadow: 0px 10px 70px 10px var(--box-shadow-color);
}

.todos-container__filters--desktop {
  display: none;
}

.todos-container__description {
  text-align: center;
  color: var(--dark-grayish-blue);
  margin-top: 3em;
}

/* =========Utility======== */

@media (min-width: 561px) {
  /* =========Typography======== */

  /* =========Elements======== */
  .bg-top {
    background-image: var(--bg-top-img-desktop);
    background-size: cover;
    background-position: center;
    background-color: var(--very-dark-blue);
  }

  /* =========Layout======== */

  /* =========Components======== */
  .todos-container__filters--desktop {
    display: flex;
    padding: 0;
  }
  /* =========Utility======== */
  .todos-container__filters::before,
  .todos-container__filters--mobile {
    display: none;
  }
}