@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* =========Variables======== */
:root {
  font-size: 18px;
  --mobile-breakpoint: 376px;
  --primary-font: "Josefin Sans", sans-serif;
  --medium-font-weight: 400;
  --bold-font-weight: 700;
  /* Primary Colors */
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme Colors */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
  /* Dark Theme Colors */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

/* =========Typography======== */
body {
  font-family: var(--primary-font);
  color: var(--very-dark-grayish-blue);
}

h1 {
  letter-spacing: .4em;
  color: var(--very-light-gray);
}

/* =========Elements======== */
p,
h1 {
  margin: 0;
}

input {
  font-size: inherit;
  font-family: inherit;
}

button {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* =========Layout======== */
.todos-app {
  display: grid;
  min-height: 100vh;
  background: url(./images/bg-mobile-light.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: baseline;
  padding: 4em 0;
}

/* =========Components======== */
.todos-container {
  width: min(35rem, 87%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todos-container > * {
  border-radius: .33rem;
}

.todos-container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0;
}

.todos-container__input-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: white;
  padding: 1em;
}

.todos-container__input-container > span {
  padding: .5rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
  margin-right: 1em;
}

.todos-container__input-container > input {
  border: none;
}

.todos-container__todo-list {
  box-shadow: 0px 160px 140px 20px #e6e6e6;
  background-color: white;
}

.todos-container__todo-list > li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1em;
}

.todos-container__todo-list > li + li {
  border-top: 1px solid var(--light-grayish-blue);
}

.todos-container__todo-list>li:last-of-type {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grayish-blue);
}

.todos-container__todo-list>li>span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  width: .5rem;
  height: .5rem;
  background-image: linear-gradient(-45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  border: 1px solid var(--light-grayish-blue);
  margin-right: 1em;
}

.todos-container__todo-filter {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  font-weight: bold;
  background-color: white;
  color: var(--dark-grayish-blue);
}

.todos-container__description {
  text-align: center;
  color: var(--dark-grayish-blue);
  margin-top: 1em;
}

/* =========Utility======== */
  .mobile-display-none {
    display: none;
  }

@media (min-width: 561px) {

  /* =========Typography======== */

  /* =========Elements======== */

  /* =========Layout======== */
    .todos-app {
      background: url(./images/bg-desktop-light.jpg);
      background-size: contain;
      background-repeat: no-repeat;
    }

  /* =========Components======== */
    .todos-container__todo-filter {
      display: flex;
      padding: 0;
    }
  /* =========Utility======== */
    .desktop-display-none {
      display: none;
    }
}